.bodyBackgorund {
    background-image: url("bg1.png");
    background-position: center;
    background-size: cover;
  }

  h1
  {
      color: red; 
      font-size: 40px;
  }
  
  #myCanvas
  {
      background-color: white; 
      border-style:ridge;
  }
  
  span
  {
      font-size: 20px;
  }